
{{#if userInSession}}
  <h2>Welcome {{user.name}}</h2>

  <h4 style="text-align: center; margin-top: 3rem">Account Information:</h4>

  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="card mb-3" style="max-width: 500px;">
            <div class="row g-0">
                <div class="col-sm-5">
                    {{#if user.profilePicture}}
                        <img src="{{user.profilePicture}}" class="card-img" style="border-radius: 50%;">
                    {{else}}
                        <img src="/images/no-profile-picture.png" class="card-img" style="border-radius: 50%;">
                    {{/if}}
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Client: {{user.name}} {{user.lastName}}</h5>
                        <br>
                        <p class="card-text">Email: {{user.email}}</p>
                        <p class="card-text">Account Number: {{user.accountNumber}}</p>
                        <h6 class="card-title"><strong>Balance:</strong> ${{user.balance}}</h6>
                        <div class="my-buttons">
                          <button class="btn btn-secondary rounded-0 acc-btn">Deposit</button>
                          <button class="btn btn-secondary rounded-0 acc-btn">
                            <a href="/transfer/{{this.id}}">Transfer</a>
                          </button>
                          <button class="btn btn-secondary rounded-0 acc-btn">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
{{else}}
  <div class="alert alert-warning" role="alert">
    <p style="text-align: center; margin-top: 1em;">
      Sorry you're not logged in
    </p>
  </div>
{{/if}}